<!DOCTYPE html>
<html lang="en">
    <body class="Background">
        <div>
            <p>Login Successful</p>
        </div>
    </body>
<style>

.Background{
    background: #120f24;
}

p {
    color: seagreen;
    border: solid 5px lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    font-size: xx-large;
    font-family: Calibri, serif;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding: 10%;
    background-color: white;
    opacity: 50%;
}

p:hover {
    opacity: 100%;
}

</style>
</html>